{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid border border-muted rounded-3 mt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom py-2 mb-2 fs-2">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary my-1" type="submit">Reset Password</button>
        </div>
    </form>
</div>
{% endblock content %}